.nav-menu-right-wrapper {
  display: inline-block;
  width: 100%;
}
.nav-menu-right {
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  list-style: none;
}
.nav-links li {
  margin-right: 7px;
}

.nav-links li a {
  color: #222;
  text-decoration: none;
  padding: 8px;
  font-size: 14px;
}
.signin {
  border: 1px black solid;
  border-radius: 4px;
}
.fas {
  font-size: 19px;
}
